.addition {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 62px;
  }
}

.addition__list {
  @include reset-list;
  border-bottom: $border;

  @media (min-width: $desktop-width) {
    border-bottom: 0;
    margin-left: 10px;
  }
}


  .addition__list-wrapper {
    margin-top: 29px;

    @media (min-width: $tablet-width) {
      margin-top: 74px;
    }

    @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }
}
