.addition-item {
  padding-bottom: 17px;
  border-top: $border;
}

.addition-item__title {
  margin: 11px 0;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.addition-item__info-table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
}

.addition-item__info-table tr {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  font-family: $main-font;
  color: $main-text-color;
}

.addition-item__info-table th {
  width: 60%;
  padding: 0;
  overflow: hidden;
  font-weight: inherit;
}

.addition-item__info-table td {
  width: 30%;
  padding: 0;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .addition-item {
    display: flex;
    flex-wrap: wrap;
    padding: 37px;
    padding-top: 0;
    padding-bottom: 27px;
    border: $border;
    border-bottom: 0;
  }

  .addition-item__title {
    width: 45%;
    margin-top: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  .addition-item__info-table {
    width: 50%;
    margin-top: 29px;
    margin-left: auto;
  }

  .addition-item__info-table tr {
    font-size: 16px;
    justify-content: flex-end;
    line-height: 20px;
  }

  .addition-item__info-table th {
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .addition-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 890px;
    padding: 0;
    padding-bottom: 15px;
    border: 0;
    border-top: $border;
  }

  .addition-item__info-table {
    width: 60%;
    margin-left: 58px;
    margin-right: 36px;
  }

  .addition-item__info-table th {
    text-align: left;
  }

  .addition-item__info-table td {
    text-align: right;
    width: 96px;
  }
}
