.catalog-addition {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }
}

.addition__list {
  @include reset-list;
  border-bottom: $border;

  @media (min-width: $desktop-width) {
    border-bottom: 0;
    margin-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper--addition {
    display: flex;
    align-items: flex-start;
  }
}
