.page-footer__contacts {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__title {
  @include oswald-regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-left: 20px;
  margin-right: 5px;
}
.contacts__text {
  font-size: 14px;
  line-height: 20px;
}
