.contacts__wrapper--gray {
  background-color: $secondary-bg-color;
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    max-width: 1300px;
    background-color: transparent;
    width: 100%;
    min-height: 400px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.contacts__inner {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 3;
  padding-top: 26px;
  padding-bottom: 25px;
  width: 88%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 65px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    min-height: 201px;
    position: absolute;
    margin-top: 95px;
    margin-left: 40px;
    background-color: #ffffff;
    z-index: 10;
    line-height: 1.25;
    padding-top: 75px;
    padding-left: 82px;
    padding-right: 73px;
  }
}

.contacts__catalog {
  @media (min-width: $desktop-width) {
    padding-top: 65px;
  }
}

.contacts__index {
  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-left: 82px;
    padding-right: 73px;
  }
}

.contacts__title {
  font-size: 16px;
  color: $secondary-text-color;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 160px;
    line-height: 1.28;
  }
}

.contacts__street,
.contacts__city {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: $main-text-color;
  margin: 0;
}

.contacts__address,
.contacts__street {
  line-height: 1.47;
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 164px;
    text-align: right;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.contacts__street {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }
}

.contacts-map {
  width: 100%;
  height: 365px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 -39px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: 0 0;
    height: 405px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
