.example {
  min-height: 665px;
  padding-top: 10px;
  padding-bottom: 30px;
  overflow: hidden;
  font-weight: 400;
  background-color: $secondary-bg-color;
}

.example__text {
  width: 99%;
  margin-bottom: 23px;
  margin-top: 27px;
  font-size: 14px;
  line-height: 18px;
  font-family: $main-font;
  color: $main-text-color;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 24px;
    padding-bottom: 0;
    background-color: $main-bg-color;
    border-top: 1px solid #e6e6e6;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example__bottom-wrapper {
    min-height: 460px;
    margin-top: 167px;
    padding-top: 2px;
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 607px;
    padding-top: 28px;
    padding-bottom: 0;
    overflow: visible;
    border: 0;
  }

  .example__text {
    width: 435px;
    margin-top: 23px;
  }

  .example__top-wrapper {
    width: 100%;
  }

  .example__middle-wrapper {
    margin-left: auto;
    padding-top: 48px;
    background-color: $secondary-bg-color;
    padding-left: 47px;

    .wrapper {
      width: 530px;
      min-width: 530px;
      margin: 0;
      margin-left: auto;
      padding: 0;
    }
  }

  .example__bottom-wrapper {
    margin-top: 0;
    margin-right: auto;
    padding: 0;
    background: linear-gradient(to right, #f2f2f2 403px, #eaeaea 403px);
    padding-left: 33px;
  }

  .example__middle-wrapper,
  .example__bottom-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 370px;
    margin-top: 11px;
    padding-bottom: 44px;
  }
}
