.example {
  min-height: 665px;
  padding-top: 10px;
  padding-bottom: 30px;
  overflow: hidden;
  font-weight: 400;
  background-color: $secondary-bg-color;
}

.example__text {
  width: 99%;
  margin-bottom: 23px;
  margin-top: 27px;
  font-size: 14px;
  line-height: 18px;
  font-family: $main-font;
  color: $main-text-color;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 24px;
    padding-bottom: 0;
    background-color: $main-bg-color;
    border-top: 1px solid #e6e6e6;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example__bottom-wrapper {
    min-height: 460px;
    margin-top: 167px;
    padding-top: 2px;
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 607px;
    padding-top: 28px;
    padding-bottom: 0;
    overflow: visible;
    border: 0;
  }

  .example__text {
    width: 435px;
    margin-top: 23px;
  }

  .example__top-wrapper {
    width: 100%;
  }

  .example__middle-wrapper {
    margin-left: auto;
    padding-top: 48px;
    background-color: $secondary-bg-color;
    padding-left: 47px;

    .wrapper {
      width: 530px;
      min-width: 530px;
      margin: 0;
      margin-left: auto;
      padding: 0;
    }
  }

  .example__bottom-wrapper {
    margin-top: 0;
    margin-right: auto;
    padding: 0;
    background: linear-gradient(to right, #f2f2f2 403px, #eaeaea 403px);
    padding-left: 33px;
  }

  .example__middle-wrapper,
  .example__bottom-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 370px;
    margin-top: 11px;
    padding-bottom: 44px;
      }
    }

.example__results {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}

.results__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 364px;
  }

  @media (min-width: $desktop-width) {
    width: 68%;
    margin-top: 17px;
  }
}

.results__item {
  width: 44%;
  text-align: center;
  border-radius: 3px;
}

.results__title {
  position: relative;
  padding: 13px 10px;
  padding-bottom: 16px;
  line-height: 1;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 30px;
    margin-right: 0;
    box-sizing: border-box;
    padding: 16px 10px;
    padding-bottom: 22px;
  }
}

.results__text {
  font-family: "Arial", sans-serif;
  color: #444444;
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  line-height: 1;
  transform: translateY(-8px);
  margin: auto;
  margin-bottom: 15px;
  width: 54px;

  @media (min-width: $tablet-width) {
    background-color: white;
    width: 100px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    background-color: #f2f2f2;
    padding-right: 3px;
  }
}

.results__text--width {
  @media (min-width: $tablet-width) {
    width: 130px;
  }
}

.results__total {
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 94px;
    margin-top: 0;
    padding-top: 7px;
    padding-right: 0;
    line-height: 1.4;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 325px;
    font-size: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    line-height: 22px;
  }
}
