.form {
  margin-top: 38px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.form-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 70px;
    margin-top: 65px;
    margin-bottom: 60px;
    margin-right: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-bottom: 23px;
  }
}

.form-wrapper--checkbox {
  margin-top: -6px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-right: 22px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
  }
}

.form-wrapper--textarea {
  display: flex;
  flex-direction: column;
}

.form-wrapper--contacts {
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.row__title {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1.13;
  color: #222222;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    line-height: 1;
    font-size: 20px;
    margin-bottom: 25px;
  }

  &--radio {
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
    position: relative;

    @media (min-width: $tablet-width) {
      margin-left: 10px;
      padding-top: 23px;
      padding-left: 55px;
    }
  }

  &--checkbox {
    padding-top: 5px;
    padding-bottom: 19px;
    padding-left: 45px;
    margin: 0;
    position: relative;

    @media (min-width: $tablet-width) {
      width: 33.5%;
      min-height: 42px;
      margin-right: 60px;
      margin-bottom: 3px;
      padding-left: 58px;
      padding-top: 10px;
    }

    @media (min-width: $desktop-width) {
      width: 15%;
      margin-right: 84px;
    }
  }

  &--radio::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 12px;
      left: -5px;
      width: 40px;
      height: 40px;
    }
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: $border;

    @media (min-width: $tablet-width) {
      top: 10px;
      left: 0;
      width: 40px;
      height: 40px;
    }
  }
}

.row__radio:checked + .row__title--radio::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 10px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
  display: block;

  @media (min-width: $tablet-width) {
    top: 24px;
    left: 7px;
    width: 18px;
    height: 18px;
  }
}

.form input {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1.13;
  color: #444444;
  text-transform: uppercase;
  padding: 13px;
  margin-left: 16px;
  box-shadow: 0 0 0 1px rgba(205, 205, 205, 0.5);
  border: 0;
  flex-grow: 1;
  font-size: 16px;
  outline: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 20px;
  }

  &--email:focus + .form__icon--email,
  &--tel:focus + .form__icon--tel {
    fill: #68b738;
  }
}

.form__user-contacts input {
  margin-left: 14px;

  @media (min-width: $desktop-width) {
    margin-left: 20px;
  }
}

.form__selector {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin-top: 22px;
  padding-top: 11px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 20px;
    border: $border;
    padding-bottom: 22px;
    margin-top: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    padding-left: 14px;
    width: 570px;
    height: 160px;
    margin-left: 17px;
  }
}

.row__checkbox:checked + .row__title--checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 20px;
  height: 12px;
  border-bottom: 2px solid #68b738;
  border-left: 2px solid #68b738;
  transform: rotate(-45deg);

  @media (min-width: $tablet-width) {
    top: 18px;
    left: 9px;
  }
}

.form__checkbox {
  margin-top: 23px;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form span {
  margin-right: 23px;
  padding-bottom: 5px;
}

.form__user-contacts {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 100%;
    margin-right: 0;
  }
}

.form__comment {
  margin-top: 25px;

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: -1px;
    margin-bottom: -2px;
  }
}

.comment__text-area {
  height: 124px;
  border: $border;
  padding: 13px;
  padding-top: 12px;
  text-transform: uppercase;
  resize: none;
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    font-size: 20px;
    padding-bottom: 35px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 25px;
    margin-top: 2px;
    width: 1187px;
  }
}

@media (min-width: $tablet-width) {
  .row__title--checkbox:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-wrapper--contacts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    padding-left: 18px;
  }

  .form__personal {
    width: 570px;
    padding-left: 38px;
    margin-right: 80px;
    margin-top: 46px;
  }

  .row__input--email-icon {
    width: 452px;
    margin-right: 79px;
  }

  .row__input--tel-icon {
    padding-left: 20px;
    width: 434px;
  }

  .row__title--checkbox:nth-of-type(2n) {
    margin-right: 82px;
  }

  .row__title--checkbox:last-child {
    margin-right: 0;
  }
}
