.page-header__container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}

.page-header__logotype {
  margin-left: 20px;
  margin-top: 10px;
}
