.page-header__container {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12px;
}

.page-header__logotype {
  margin-left: 20px;
  margin-top: 10px;
}
