.info {
  margin: 20 auto;
  padding-bottom: 22px;
}
.how__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.how__title {
  @include oswald-regular;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
}

.how__item {
  position: relative;
  width: 280px;
  margin-bottom: 20px;
  text-align: left;
}

.how__item:first-child {
  margin-top: 25px;
}

.how__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.how__item--advantage1::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.how__item--advantage2::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-image: url("../img/advantage-powder@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.how__item--advantage3::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
  background-image: url("../img/advantage-dining@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.how__item--advantage4::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-image: url("../img/advantage-clock@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.how__text {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 80px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
