.example__results {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}

.results__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 364px;
  }

  @media (min-width: $desktop-width) {
    width: 68%;
    margin-top: 17px;
  }
}

.results__item {
  width: 44%;
  text-align: center;
  border-radius: 3px;
}

.results__title {
  position: relative;
  padding: 13px 10px;
  padding-bottom: 16px;
  line-height: 1;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 30px;
    margin-right: 0;
    box-sizing: border-box;
    padding: 16px 10px;
    padding-bottom: 22px;
  }
}

.results__text {
  font-family: "Arial", sans-serif;
  color: #444444;
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  line-height: 1;
  transform: translateY(-8px);
  margin: auto;
  margin-bottom: 15px;
  width: 54px;

  @media (min-width: $tablet-width) {
    background-color: white;
    width: 100px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
    background-color: #f2f2f2;
    padding-right: 3px;
  }
}

.results__text--width {
  @media (min-width: $tablet-width) {
    width: 130px;
  }
}

.results__total {
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 94px;
    margin-top: 0;
    padding-top: 7px;
    padding-right: 0;
    line-height: 1.4;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 325px;
    font-size: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    line-height: 22px;
  }
}
