.slider {
  width: 320px;
  margin: 0 auto;
}

.slider__image-wrapper {
  display: none;

  &--visible {
    display: block;
  }
}

.slider__image {
  width: 320px;
  height: 240px;
  margin: 0 auto;
  margin-top: 25px;
}

.slider-wrapper__controls {
  display: flex;
  justify-content: space-between;
  width: 198px;
  margin: 0 auto;
  margin-top: 30px;
}

.slider-wrapper__button {
  padding: 0;
  padding-bottom: 6px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    padding-bottom: 5px;

    border-bottom: 1px solid #989898;
  }

  &:active {
    border-bottom: 1px solid $secondary-bg-color;
  }
}

.slider-wrapper__bar {
  position: relative;

  width: 82px;
  height: 12px;
  margin-top: 3px;

  background-color: $main-bg-color;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 2px 0 #989898;
  }

  &:active {
    border: 2px solid $decoration-color;
  }
}

.slider-wrapper__toggle {
  position: absolute;
  top: 3px;
  left: 7px;

  width: 35px;
  height: 6px;

  background-color: $decoration-color;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .slider {
    display: flex;
    justify-content: center;
    width: 690px;
    height: 517px;
    margin-top: -170px;
    transform: translateX(7px);
  }

  .slider__image-wrapper {
    position: relative;
    display: block;
    flex-shrink: 0;
    overflow: hidden;

    &--before {
      width: 49%;
    }

    &--after {
      width: 51%;
    }
  }

  .slider__image {
    position: absolute;
    width: 690px;
    max-width: 690px;
    height: 517px;
    margin: 0;

    &--after {
      position: absolute;
      right: 0;
      display: block;
    }
  }

  .slider-wrapper__controls {
    width: 570px;
    margin-top: 20px;
  }

  .slider-wrapper__button {
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #bebebe;

    &:hover {
      padding-bottom: 6px;
    }
  }

  .slider-wrapper__bar {
    width: 428px;
    height: 6px;
    margin-top: 8px;
    background-color: #dcdcdc;
    border: 0;
    border-radius: 2.5px;
    cursor: default;

    &:hover,
    &:active {
      border: 0;
      box-shadow: none;
    }
  }

  .slider-wrapper__toggle {
    position: absolute;
    top: -14px;
    left: 198px;
    width: 32px;
    height: 32px;
    background-color: $main-bg-color;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      width: 30px;
      height: 30px;
      border: 2px solid $decoration-color;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      margin-left: -4px;
      background-color: $decoration-color;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin-top: -190px;
    margin-left: 0;
  }

  .slider__image-wrapper {
    &--before {
      width: 53%;
    }

    &--after {
      width: 47%;
      background: linear-gradient(to right, #ebebeb 25%, #ebebeb 50%, #ebebeb 75%, #ebebeb 100%);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 63%;
    }
  }

  .slider-wrapper__controls {
    margin-top: 40px;
    margin-left: 0;
    padding-left: 87px;
  }
}
