.catalog__item {
  padding: 0 20px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 24px;
}


.card__title {
  @include oswald-regular;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  margin-top: 21px;
  color: #111111;
  display: block;
}
