.page-main__programs {
  @include reset-list;
  min-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.program__item {
  background-color: $secondary-bg-color;
  position: relative;
  min-width: 280px;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 18px;
  padding-left: 20px;
  margin-bottom: 20px;
}


.programs__item:last-child {
  margin-bottom: 0;
}


.program__title {
  @include oswald-regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
  color :$secondary-text-color;
}

.program__item::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.program__title--slim::after {
  position: absolute;
  content: "";
  top: 22px;
  left: 30px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.programs__title--gain::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.programs__title--gain {
  margin-left: 20px;
}

.program__text {
  position: relative;
  width: 226px;
  margin-top: 30px;
  margin-bottom: 43px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align:left;
}

.program__text::after {
  position: absolute;
  content: "";
  bottom: -23px;
  left: 0;
  width: 240px;
  height: 1px;
  background-color: #cdcdcd;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.program__link {
  @include oswald-regular;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
  right:90px;
}

.program__link::after {
  position: absolute;
  content: "";
  top: 7px;
  right: -36px;
  width: 25px;
  height: 12px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
