@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin oswald-regular {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
