//widths
$tablet-width: 768px;
$desktop-width: 1300px;

//fonts
$main-font: "Arial", sans-serif;
$sec-font: "Oswald", "Arial", sans-serif;

//colors
$main-text-color: #444444;
$secondary-text-color: #111111;
$slogan-text-color: #ffffff;
$quaternary-text-color: #222222;

$main-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;

$border-color: #ededed;
$input-active-color: #444444;
$input-error-color: #ff8282;
$checkbox-active-color:#bababa;

$decoration-color: #68b738;

$button-active-color: #68b738;
$secondary-button-color: #f2f2f2;
$secondary-button-active-color:#ebebeb;


